In [41]:
import pandas as pd
import numpy as np
import re

In [42]:
df=pd.read_csv("zomato.csv")

In [43]:
df.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [44]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='str')

In [45]:
df.info

<bound method DataFrame.info of                                                      url  \
0      https://www.zomato.com/bangalore/jalsa-banasha...
1      https://www.zomato.com/bangalore/spice-elephan...
2      https://www.zomato.com/SanchurroBangalore?cont...
3      https://www.zomato.com/bangalore/addhuri-udupi...
4      https://www.zomato.com/bangalore/grand-village...
...                                                  ...
51712  https://www.zomato.com/bangalore/best-brews-fo...
51713  https://www.zomato.com/bangalore/vinod-bar-and...
51714  https://www.zomato.com/bangalore/plunge-sherat...
51715  https://www.zomato.com/bangalore/chime-sherato...
51716  https://www.zomato.com/bangalore/the-nest-the-...

                                                 address  \
0      942, 21st Main Road, 2nd Stage, Banashankari, ...
1      2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2      1112, Next to KIMS Medical College, 17th Cross...
3      1st Floor, Annakuteera, 3rd Stage, Banashankar...
4      10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
...                                                  ...
51712  Four Points by Sheraton Bengaluru, 43/3, White...
51713  Number 10, Garudachar Palya, Mahadevapura, Whi...
51714  Sheraton Grand Bengaluru Whitefield Hotel & Co...
51715  Sheraton Grand Bengaluru Whitefield Hotel & Co...
51716  ITPL Main Road, KIADB Export Promotion Industr...

                                                    name online_order  \
0                                                  Jalsa          Yes
1                                         Spice Elephant          Yes
2                                        San Churro Cafe          Yes
3                                  Addhuri Udupi Bhojana           No
4                                          Grand Village           No
...                                                  ...          ...
51712  Best Brews - Four Points by Sheraton Bengaluru...           No
51713                           Vinod Bar And Restaurant           No
51714  Plunge - Sheraton Grand Bengaluru Whitefield H...           No
51715  Chime - Sheraton Grand Bengaluru Whitefield Ho...           No
51716                       The Nest - The Den Bengaluru           No

      book_table    rate  votes                             phone  \
0            Yes   4.1/5    775    080 42297555\r\n+91 9743772233
1             No   4.1/5    787                      080 41714161
2             No   3.8/5    918                    +91 9663487993
3             No   3.7/5     88                    +91 9620009302
4             No   3.8/5    166  +91 8026612447\r\n+91 9901210005
...          ...     ...    ...                               ...
51712         No  3.6 /5     27                      080 40301477
51713         No     NaN      0                    +91 8197675843
51714         No     NaN      0                               NaN
51715        Yes  4.3 /5    236                      080 49652769
51716         No  3.4 /5     13                    +91 8071117272

                         location            rest_type  \
0                    Banashankari        Casual Dining
1                    Banashankari        Casual Dining
2                    Banashankari  Cafe, Casual Dining
3                    Banashankari          Quick Bites
4                    Basavanagudi        Casual Dining
...                           ...                  ...
51712                  Whitefield                  Bar
51713                  Whitefield                  Bar
51714                  Whitefield                  Bar
51715  ITPL Main Road, Whitefield                  Bar
51716  ITPL Main Road, Whitefield   Bar, Casual Dining

                                              dish_liked  \
0      Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1      Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2      Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                            Masala Dosa
4                                    Panipuri, Gol Gappe
...                                                  ...
51712                                                NaN
51713                                                NaN
51714                                                NaN
51715                       Cocktails, Pizza, Buttermilk
51716                                                NaN

                                     cuisines approx_cost(for two people)  \
0              North Indian, Mughlai, Chinese                         800
1                 Chinese, North Indian, Thai                         800
2                      Cafe, Mexican, Italian                         800
3                  South Indian, North Indian                         300
4                    North Indian, Rajasthani                         600
...                                       ...                         ...
51712                             Continental                       1,500
51713                             Finger Food                         600
51714                             Finger Food                       2,000
51715                             Finger Food                       2,500
51716  Finger Food, North Indian, Continental                       1,500

                                            reviews_list menu_item  \
0      [('Rated 4.0', 'RATED\n  A beautiful place to ...        []
1      [('Rated 4.0', 'RATED\n  Had been here for din...        []
2      [('Rated 3.0', "RATED\n  Ambience is not that ...        []
3      [('Rated 4.0', "RATED\n  Great food and proper...        []
4      [('Rated 4.0', 'RATED\n  Very good restaurant ...        []
...                                                  ...       ...
51712  [('Rated 5.0', "RATED\n  Food and service are ...        []
51713                                                 []        []
51714                                                 []        []
51715  [('Rated 4.0', 'RATED\n  Nice and friendly pla...        []
51716  [('Rated 5.0', 'RATED\n  Great ambience , look...        []

      listed_in(type) listed_in(city)
0              Buffet    Banashankari
1              Buffet    Banashankari
2              Buffet    Banashankari
3              Buffet    Banashankari
4              Buffet    Banashankari
...               ...             ...
51712   Pubs and bars      Whitefield
51713   Pubs and bars      Whitefield
51714   Pubs and bars      Whitefield
51715   Pubs and bars      Whitefield
51716   Pubs and bars      Whitefield

[51717 rows x 17 columns]>

In [46]:
df.shape

(51717, 17)

# Data Cleaning

In [47]:
columns_keep = [
    'name', 'online_order', 'book_table', 'votes', 'rate', 'dish_liked',
    'approx_cost(for two people)', 'listed_in(type)',
    'rest_type', 'listed_in(city)', 'reviews_list',
    'menu_item', 'cuisines'
]

columns_drop = ['url', 'address', 'phone', 'location']

# âœ… CREATE AN EXPLICIT COPY
df_req = df[columns_keep].copy()

In [48]:
df_req = df_req.rename(
    columns={
        "approx_cost(for two people)": "approx_cost_for_two",
        "listed_in(type)": "listed_in_type",
        "listed_in(city)": "listed_in_city"
    }
)

In [49]:
df_req.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate', 'dish_liked',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'menu_item', 'cuisines'],
      dtype='str')

In [50]:
df_req.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate', 'dish_liked',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'menu_item', 'cuisines'],
      dtype='str')

In [51]:
# Replace '-' and empty strings with NaN
df_req.replace("-", np.nan, inplace=True)
df_req.replace("", np.nan, inplace=True)

,name,online_order,book_table,votes,rate,dish_liked,approx_cost_for_two,listed_in_type,rest_type,listed_in_city,reviews_list,menu_item,cuisines
0,Jalsa,Yes,Yes,775,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800,Buffet,Casual Dining,Banashankari,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],"North Indian, Mughlai, Chinese"
1,Spice Elephant,Yes,No,787,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800,Buffet,Casual Dining,Banashankari,"[('Rated 4.0', 'RATED\n Had been here for din...",[],"Chinese, North Indian, Thai"
2,San Churro Cafe,Yes,No,918,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800,Buffet,"Cafe, Casual Dining",Banashankari,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],"Cafe, Mexican, Italian"
3,Addhuri Udupi Bhojana,No,No,88,3.7/5,Masala Dosa,300,Buffet,Quick Bites,Banashankari,"[('Rated 4.0', ""RATED\n Great food and proper...",[],"South Indian, North Indian"
4,Grand Village,No,No,166,3.8/5,"Panipuri, Gol Gappe",600,Buffet,Casual Dining,Banashankari,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],"North Indian, Rajasthani"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,27,3.6 /5,NaN,"1,500",Pubs and bars,Bar,Whitefield,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Continental
51713,Vinod Bar And Restaurant,No,No,0,NaN,NaN,600,Pubs and bars,Bar,Whitefield,[],[],Finger Food
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,NaN,NaN,"2,000",Pubs and bars,Bar,Whitefield,[],[],Finger Food
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,236,4.3 /5,"Cocktails, Pizza, Buttermilk","2,500",Pubs and bars,Bar,Whitefield,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Finger Food
51716,The Nest - The Den Bengaluru,No,No,13,3.4 /5,NaN,"1,500",Pubs and bars,"Bar, Casual Dining",Whitefield,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],"Finger Food, North Indian, Continental"

In [52]:
# Extract numeric rating from '4.1/5'
df_req["rate_clean"] = (
    df["rate"]
    .astype(str)
    .str.split("/")
    .str[0]
)

# Convert to numeric
df_req["rate_clean"] = pd.to_numeric(df_req["rate_clean"], errors="coerce")

In [53]:
# Remove commas and convert to numeric
df_req["approx_cost_for_two"] = (
    df_req["approx_cost_for_two"]
    .astype(str)
    .str.replace(",", "")
)

df_req["approx_cost_for_two"] = pd.to_numeric(
    df_req["approx_cost_for_two"], errors="coerce"
)

In [54]:
df_req["online_order"] = df_req["online_order"].map({"Yes": 1, "No": 0})
df_req["book_table"] = df_req["book_table"].map({"Yes": 1, "No": 0})

In [55]:
df_req["votes"] = pd.to_numeric(df_req["votes"], errors="coerce")

# EDA

Check Missing Values

In [56]:
missing_percentage = (df_req.isna().sum() / len(df_req)) * 100
missing_percentage.sort_values(ascending=False)

dish_liked             54.291626
rate_clean             19.436549
rate                   15.167160
approx_cost_for_two     0.669026
rest_type               0.438927
cuisines                0.087012
name                    0.000000
online_order            0.000000
book_table              0.000000
votes                   0.000000
listed_in_type          0.000000
listed_in_city          0.000000
reviews_list            0.000000
menu_item               0.000000
dtype: float64

In [57]:
df_req[[
    "rate_clean",
    "votes",
    "approx_cost_for_two"
]].describe()

         rate_clean         votes  approx_cost_for_two
count  41665.000000  51717.000000         51371.000000
mean       3.700449    283.697527           555.431566
std        0.440513    803.838853           438.850728
min        1.800000      0.000000            40.000000
25%        3.400000      7.000000           300.000000
50%        3.700000     41.000000           400.000000
75%        4.000000    198.000000           650.000000
max        4.900000  16832.000000          6000.000000

In [58]:
print(df_req["rate_clean"].value_counts().head())
print(df_req["online_order"].value_counts())
print(df_req["book_table"].value_counts())

rate_clean
3.9    3972
3.8    3873
3.7    3821
3.6    3316
4.0    3183
Name: count, dtype: int64
online_order
1    30444
0    21273
Name: count, dtype: int64
book_table
0    45268
1     6449
Name: count, dtype: int64

In [59]:
df_req.groupby("online_order")["rate_clean"].mean()

online_order
0    3.65907
1    3.72244
Name: rate_clean, dtype: float64

# Advanced Cleaning

In [60]:
print("Before duplicates:", df_req.shape)

df_req = df_req.drop_duplicates()

print("After duplicates:", df_req.shape)

Before duplicates: (51717, 14)
After duplicates: (51653, 14)

In [61]:
df_req["rate_clean"] = (
    df_req["rate"]
    .astype(str)
    .str.split("/")
    .str[0]
)

df_req["rate_clean"] = pd.to_numeric(df_req["rate_clean"], errors="coerce")

# Remove invalid ratings
df_req.loc[(df_req["rate_clean"] < 0) | (df_req["rate_clean"] > 5), "rate_clean"] = np.nan

In [62]:
def cost_bucket(cost):
    if pd.isna(cost):
        return np.nan
    elif cost <= 300:
        return "low"
    elif cost <= 700:
        return "medium"
    else:
        return "high"

df_req["cost_category"] = df_req["approx_cost_for_two"].apply(cost_bucket)

In [63]:
def clean_text(text):
    if pd.isna(text):
        return np.nan
    text = str(text).lower()
    text = re.sub(r"[^a-zA-Z0-9, ]", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    return text

In [64]:
text_cols = [
    "rest_type",
    "listed_in_type",
    "listed_in_city",
    "cuisines"
]

for col in text_cols:
    df_req[col] = df_req[col].apply(clean_text)

In [65]:
df_req["has_dish_liked"] = df_req["dish_liked"].notna().astype(int)

In [66]:
def clean_reviews(text):
    if pd.isna(text):
        return np.nan

    text = str(text).lower()

    # ðŸ”¹ 1. REMOVE escaped & real newlines FIRST
    text = text.replace("\\n", " ").replace("\n", " ")

    # ðŸ”¹ 2. REMOVE rating tags like 'rated 4.5'
    text = re.sub(r"rated\s*\d+(\.\d+)?", " ", text)

    # ðŸ”¹ 3. REMOVE the word 'rated' itself
    text = text.replace("rated", " ")

    # ðŸ”¹ 4. REMOVE tuple / list symbols
    text = re.sub(r"[\[\]\(\)\'\",]", " ", text)

    # ðŸ”¹ 5. REMOVE non-ASCII safely (without creating junk)
    text = re.sub(r"[^\x00-\x7F]+", " ", text)

    # ðŸ”¹ 6. KEEP only alphabets and spaces
    text = re.sub(r"[^a-z ]", " ", text)

    # ðŸ”¹ 7. REMOVE standalone letters like 'n', 'x'
    text = re.sub(r"\b[a-z]\b", " ", text)

    # ðŸ”¹ 8. NORMALIZE spaces
    text = re.sub(r"\s+", " ", text).strip()

    # ðŸ”¹ 9. DROP very short junk reviews
    if len(text) < 30:
        return np.nan

    return text

In [67]:
df_req["clean_reviews"] = df_req["reviews_list"].apply(clean_reviews)

In [68]:
df_req["review_length"] = df_req["clean_reviews"].str.len()
df_req.loc[df_req["review_length"] < 20, "clean_reviews"] = np.nan

In [69]:
df_req.drop(
    columns=[
        "menu_item",
        "dish_liked",
    ],
    inplace=True
)

In [70]:
df_req.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'cuisines', 'rate_clean', 'cost_category',
       'has_dish_liked', 'clean_reviews', 'review_length'],
      dtype='str')

In [71]:
df_req[["reviews_list", "clean_reviews"]].sample(5)

,reviews_list,clean_reviews
37372,[],NaN
21060,"[('Rated 3.0', 'RATED\n Place in Tilak nagar ...",place in tilak nagar where you can eat best gh...
20955,"[('Rated 4.0', 'RATED\n We had chips & sprink...",we had chips sprinklers mini pan cakes it was ...
46463,"[('Rated 3.0', 'RATED\n Ordered masala maggie...",ordered masala maggie schezwan maggie and pane...
35606,"[('Rated 4.0', 'RATED\n This place has Good t...",this place has good tasty food mostly low pric...

In [72]:
df_req[["clean_reviews"]].dropna().head()

                                       clean_reviews
0  beautiful place to dine in the interiors take ...
1  had been here for dinner with family turned ou...
2  ambience is not that good enough and it not po...
3  great food and proper karnataka style full mea...
4  very good restaurant in neighbourhood buffet s...

In [73]:
final_df = df_req[
    [
        "name",
        "online_order",
        "book_table",
        "votes",
        "rate_clean",
        "approx_cost_for_two",
        "cost_category",
        "rest_type",
        "listed_in_type",
        "listed_in_city",
        "cuisines",
        "has_dish_liked",
        "clean_reviews"
    ]
]

In [74]:
final_df.to_csv(
    "zomato_before_sentiment_analysis.csv",
    index=False,
    encoding="utf-8"
)

# Sentiment Analysis

In [75]:
!pip3 install nltk
!pip3 install vaderSentiment

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.9.2)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (2026.1.15)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (4.67.1)

[notice] A new release of pip is available: 24.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Requirement already satisfied: vaderSentiment in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.3.2)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from vaderSentiment) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests->vaderSentiment) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests->vaderSentiment) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests->vaderSentiment) (2.6.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from requests->vaderSentiment) (2026.1.4)

[notice] A new release of pip is available: 24.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [76]:
import nltk
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [77]:
sia = SentimentIntensityAnalyzer()

In [78]:
def get_sentiment_score(text):
    if pd.isna(text):
        return np.nan
    return sia.polarity_scores(text)["compound"]

In [ ]:
df_req["sentiment_score"] = df_req["clean_reviews"].apply(get_sentiment_score)

In [ ]:
sentiment_agg = (
    df_req.groupby("name", as_index=False)
    .agg(
        sentiment_score=("sentiment_score", "mean")
    )
)

In [ ]:
sentiment_agg["sentiment_score"] = sentiment_agg["sentiment_score"].fillna(0)

In [ ]:
def restaurant_sentiment(score):
    if score >= 0.05:
        return "positive"
    elif score <= -0.05:
        return "negative"
    else:
        return "neutral"

sentiment_agg["sentiment"] = sentiment_agg["sentiment_score"].apply(restaurant_sentiment)

In [ ]:
sentiment_agg.head()

                     name  sentiment_score sentiment
0            #FeelTheROLL         0.994500  positive
1              #L-81 Cafe         0.996078  positive
2           #Vibes Restro         0.571900  positive
3                 #refuel         0.956800  positive
4  'Brahmins' Thatte Idli              NaN   neutral

In [ ]:
# def get_sentiment_label(score):
#     if pd.isna(score):
#         return np.nan
#     elif score >= 0.05:
#         return "positive"
#     elif score <= -0.05:
#         return "negative"
#     else:
#         return "neutral"

In [ ]:
# df["sentiment_label"] = df["sentiment_score"].apply(get_sentiment_label)

In [ ]:
# df_req[["clean_reviews", "sentiment_score", "sentiment"]].sample(5)

,clean_reviews,sentiment_score,sentiment
41520,we had prawn fried rice and american chopsuey ...,0.9995,positive
37413,top foam was the best and cheap restaurant tas...,0.9979,positive
36147,recently visited happy plate loved the food it...,1.0000,positive
45325,ordered special veg meal through swiggy and mu...,0.9136,positive
19552,worst food have ever had worst food tried to f...,-0.9961,negative

In [ ]:
# df_req.head(5)

,name,online_order,book_table,votes,rate,approx_cost_for_two,listed_in_type,rest_type,listed_in_city,reviews_list,...,avg_rating_x,total_reviews_x,positive_count_x,negative_count_x,neutral_count_x,avg_rating_y,total_reviews_y,positive_count_y,negative_count_y,neutral_count_y
0,jalsa,1,1,775,4.1/5,800.0,buffet,casual dining,banashankari,"[('Rated 4.0', 'RATED\n A beautiful place to ...",...,4.118182,11,11,0,0,4.118182,11,11,0,0
1,spice elephant,1,0,787,4.1/5,800.0,buffet,casual dining,banashankari,"[('Rated 4.0', 'RATED\n Had been here for din...",...,4.100000,4,4,0,0,4.100000,4,4,0,0
2,san churro cafe,1,0,918,3.8/5,800.0,buffet,"cafe, casual dining",banashankari,"[('Rated 3.0', ""RATED\n Ambience is not that ...",...,3.800000,11,11,0,0,3.800000,11,11,0,0
3,addhuri udupi bhojana,0,0,88,3.7/5,300.0,buffet,quick bites,banashankari,"[('Rated 4.0', ""RATED\n Great food and proper...",...,3.700000,2,2,0,0,3.700000,2,2,0,0
4,grand village,0,0,166,3.8/5,600.0,buffet,casual dining,banashankari,"[('Rated 4.0', 'RATED\n Very good restaurant ...",...,3.800000,4,4,0,0,3.800000,4,4,0,0

In [ ]:
df_final = df_req.merge(
    sentiment_agg,
    on="name",
    how="left"
)

In [ ]:
df_final.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'cuisines', 'rate_clean', 'cost_category',
       'has_dish_liked', 'clean_reviews', 'review_length', 'sentiment_score_x',
       'sentiment_x', 'sentiment_score_y', 'sentiment_y'],
      dtype='object')

In [ ]:
df_final.drop(
    columns=["sentiment_score_x", "sentiment_x"],
    inplace=True
)

In [ ]:
df_final.rename(
    columns={
        "sentiment_score_y": "sentiment_score",
        "sentiment_y": "sentiment"
    },
    inplace=True
)

In [ ]:
df_final.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'cuisines', 'rate_clean', 'cost_category',
       'has_dish_liked', 'clean_reviews', 'review_length', 'sentiment_score',
       'sentiment'],
      dtype='object')

In [ ]:
df_final = df_final[
    [
        "name",
        "rate_clean",
        "sentiment_score",
        "sentiment",
        "votes",
        "approx_cost_for_two",
        "online_order",
        "book_table",
        "rest_type",
        "listed_in_type",
        "listed_in_city",
        "cuisines",
        "clean_reviews"
    ]
]

In [ ]:
df_final.iloc[50593]

name                                                            Halftime
rate_clean                                                           NaN
sentiment_score                                                  -0.2846
sentiment                                                       negative
votes                                                                  0
approx_cost_for_two                                                200.0
online_order                                                           0
book_table                                                             0
rest_type                                                    quick bites
listed_in_type                                                  delivery
listed_in_city                                                whitefield
cuisines                                           north indian, chinese
clean_reviews          it has been closed now it was good option in b...
Name: 50593, dtype: object

In [ ]:
df_final.to_csv(
    "zomato_with_sentiment.csv",
    index=False,
    encoding="utf-8"
)