In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
df=pd.read_csv("zomato.csv")

In [4]:
df.head(5)

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [5]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='str')

In [6]:
df.info

<bound method DataFrame.info of                                                      url  \
0      https://www.zomato.com/bangalore/jalsa-banasha...
1      https://www.zomato.com/bangalore/spice-elephan...
2      https://www.zomato.com/SanchurroBangalore?cont...
3      https://www.zomato.com/bangalore/addhuri-udupi...
4      https://www.zomato.com/bangalore/grand-village...
...                                                  ...
51712  https://www.zomato.com/bangalore/best-brews-fo...
51713  https://www.zomato.com/bangalore/vinod-bar-and...
51714  https://www.zomato.com/bangalore/plunge-sherat...
51715  https://www.zomato.com/bangalore/chime-sherato...
51716  https://www.zomato.com/bangalore/the-nest-the-...

                                                 address  \
0      942, 21st Main Road, 2nd Stage, Banashankari, ...
1      2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...
2      1112, Next to KIMS Medical College, 17th Cross...
3      1st Floor, Annakuteera, 3rd Stage, Banashankar...
4      10, 3rd Floor, Lakshmi Associates, Gandhi Baza...
...                                                  ...
51712  Four Points by Sheraton Bengaluru, 43/3, White...
51713  Number 10, Garudachar Palya, Mahadevapura, Whi...
51714  Sheraton Grand Bengaluru Whitefield Hotel & Co...
51715  Sheraton Grand Bengaluru Whitefield Hotel & Co...
51716  ITPL Main Road, KIADB Export Promotion Industr...

                                                    name online_order  \
0                                                  Jalsa          Yes
1                                         Spice Elephant          Yes
2                                        San Churro Cafe          Yes
3                                  Addhuri Udupi Bhojana           No
4                                          Grand Village           No
...                                                  ...          ...
51712  Best Brews - Four Points by Sheraton Bengaluru...           No
51713                           Vinod Bar And Restaurant           No
51714  Plunge - Sheraton Grand Bengaluru Whitefield H...           No
51715  Chime - Sheraton Grand Bengaluru Whitefield Ho...           No
51716                       The Nest - The Den Bengaluru           No

      book_table    rate  votes                             phone  \
0            Yes   4.1/5    775    080 42297555\r\n+91 9743772233
1             No   4.1/5    787                      080 41714161
2             No   3.8/5    918                    +91 9663487993
3             No   3.7/5     88                    +91 9620009302
4             No   3.8/5    166  +91 8026612447\r\n+91 9901210005
...          ...     ...    ...                               ...
51712         No  3.6 /5     27                      080 40301477
51713         No     NaN      0                    +91 8197675843
51714         No     NaN      0                               NaN
51715        Yes  4.3 /5    236                      080 49652769
51716         No  3.4 /5     13                    +91 8071117272

                         location            rest_type  \
0                    Banashankari        Casual Dining
1                    Banashankari        Casual Dining
2                    Banashankari  Cafe, Casual Dining
3                    Banashankari          Quick Bites
4                    Basavanagudi        Casual Dining
...                           ...                  ...
51712                  Whitefield                  Bar
51713                  Whitefield                  Bar
51714                  Whitefield                  Bar
51715  ITPL Main Road, Whitefield                  Bar
51716  ITPL Main Road, Whitefield   Bar, Casual Dining

                                              dish_liked  \
0      Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1      Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2      Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                            Masala Dosa
4                                    Panipuri, Gol Gappe
...                                                  ...
51712                                                NaN
51713                                                NaN
51714                                                NaN
51715                       Cocktails, Pizza, Buttermilk
51716                                                NaN

                                     cuisines approx_cost(for two people)  \
0              North Indian, Mughlai, Chinese                         800
1                 Chinese, North Indian, Thai                         800
2                      Cafe, Mexican, Italian                         800
3                  South Indian, North Indian                         300
4                    North Indian, Rajasthani                         600
...                                       ...                         ...
51712                             Continental                       1,500
51713                             Finger Food                         600
51714                             Finger Food                       2,000
51715                             Finger Food                       2,500
51716  Finger Food, North Indian, Continental                       1,500

                                            reviews_list menu_item  \
0      [('Rated 4.0', 'RATED\n  A beautiful place to ...        []
1      [('Rated 4.0', 'RATED\n  Had been here for din...        []
2      [('Rated 3.0', "RATED\n  Ambience is not that ...        []
3      [('Rated 4.0', "RATED\n  Great food and proper...        []
4      [('Rated 4.0', 'RATED\n  Very good restaurant ...        []
...                                                  ...       ...
51712  [('Rated 5.0', "RATED\n  Food and service are ...        []
51713                                                 []        []
51714                                                 []        []
51715  [('Rated 4.0', 'RATED\n  Nice and friendly pla...        []
51716  [('Rated 5.0', 'RATED\n  Great ambience , look...        []

      listed_in(type) listed_in(city)
0              Buffet    Banashankari
1              Buffet    Banashankari
2              Buffet    Banashankari
3              Buffet    Banashankari
4              Buffet    Banashankari
...               ...             ...
51712   Pubs and bars      Whitefield
51713   Pubs and bars      Whitefield
51714   Pubs and bars      Whitefield
51715   Pubs and bars      Whitefield
51716   Pubs and bars      Whitefield

[51717 rows x 17 columns]>

In [7]:
df.shape

(51717, 17)

# Data Cleaning

In [8]:
columns_keep = [
    'name', 'online_order', 'book_table', 'votes', 'rate', 'dish_liked',
    'approx_cost(for two people)', 'listed_in(type)',
    'rest_type', 'listed_in(city)', 'reviews_list',
    'menu_item', 'cuisines'
]

columns_drop = ['url', 'address', 'phone', 'location']

# ✅ CREATE AN EXPLICIT COPY
df_req = df[columns_keep].copy()

In [9]:
df_req = df_req.rename(
    columns={
        "approx_cost(for two people)": "approx_cost_for_two",
        "listed_in(type)": "listed_in_type",
        "listed_in(city)": "listed_in_city"
    }
)

In [10]:
df_req.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate', 'dish_liked',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'menu_item', 'cuisines'],
      dtype='str')

In [11]:
df_req.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate', 'dish_liked',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'menu_item', 'cuisines'],
      dtype='str')

In [12]:
# Replace '-' and empty strings with NaN
df_req.replace("-", np.nan, inplace=True)
df_req.replace("", np.nan, inplace=True)

,name,online_order,book_table,votes,rate,dish_liked,approx_cost_for_two,listed_in_type,rest_type,listed_in_city,reviews_list,menu_item,cuisines
0,Jalsa,Yes,Yes,775,4.1/5,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",800,Buffet,Casual Dining,Banashankari,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],"North Indian, Mughlai, Chinese"
1,Spice Elephant,Yes,No,787,4.1/5,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",800,Buffet,Casual Dining,Banashankari,"[('Rated 4.0', 'RATED\n Had been here for din...",[],"Chinese, North Indian, Thai"
2,San Churro Cafe,Yes,No,918,3.8/5,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",800,Buffet,"Cafe, Casual Dining",Banashankari,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],"Cafe, Mexican, Italian"
3,Addhuri Udupi Bhojana,No,No,88,3.7/5,Masala Dosa,300,Buffet,Quick Bites,Banashankari,"[('Rated 4.0', ""RATED\n Great food and proper...",[],"South Indian, North Indian"
4,Grand Village,No,No,166,3.8/5,"Panipuri, Gol Gappe",600,Buffet,Casual Dining,Banashankari,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],"North Indian, Rajasthani"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51712,Best Brews - Four Points by Sheraton Bengaluru...,No,No,27,3.6 /5,NaN,"1,500",Pubs and bars,Bar,Whitefield,"[('Rated 5.0', ""RATED\n Food and service are ...",[],Continental
51713,Vinod Bar And Restaurant,No,No,0,NaN,NaN,600,Pubs and bars,Bar,Whitefield,[],[],Finger Food
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,No,No,0,NaN,NaN,"2,000",Pubs and bars,Bar,Whitefield,[],[],Finger Food
51715,Chime - Sheraton Grand Bengaluru Whitefield Ho...,No,Yes,236,4.3 /5,"Cocktails, Pizza, Buttermilk","2,500",Pubs and bars,Bar,Whitefield,"[('Rated 4.0', 'RATED\n Nice and friendly pla...",[],Finger Food
51716,The Nest - The Den Bengaluru,No,No,13,3.4 /5,NaN,"1,500",Pubs and bars,"Bar, Casual Dining",Whitefield,"[('Rated 5.0', 'RATED\n Great ambience , look...",[],"Finger Food, North Indian, Continental"

In [13]:
# Extract numeric rating from '4.1/5'
df_req["rate_clean"] = (
    df["rate"]
    .astype(str)
    .str.split("/")
    .str[0]
)

# Convert to numeric
df_req["rate_clean"] = pd.to_numeric(df_req["rate_clean"], errors="coerce")

In [14]:
# Remove commas and convert to numeric
df_req["approx_cost_for_two"] = (
    df_req["approx_cost_for_two"]
    .astype(str)
    .str.replace(",", "")
)

df_req["approx_cost_for_two"] = pd.to_numeric(
    df_req["approx_cost_for_two"], errors="coerce"
)

In [15]:
df_req["online_order"] = df_req["online_order"].map({"Yes": 1, "No": 0})
df_req["book_table"] = df_req["book_table"].map({"Yes": 1, "No": 0})

In [16]:
df_req["votes"] = pd.to_numeric(df_req["votes"], errors="coerce")

# EDA

Check Missing Values

In [17]:
missing_percentage = (df_req.isna().sum() / len(df_req)) * 100
missing_percentage.sort_values(ascending=False)

dish_liked             54.291626
rate_clean             19.436549
rate                   15.167160
approx_cost_for_two     0.669026
rest_type               0.438927
cuisines                0.087012
name                    0.000000
online_order            0.000000
book_table              0.000000
votes                   0.000000
listed_in_type          0.000000
listed_in_city          0.000000
reviews_list            0.000000
menu_item               0.000000
dtype: float64

In [18]:
df_req[[
    "rate_clean",
    "votes",
    "approx_cost_for_two"
]].describe()

         rate_clean         votes  approx_cost_for_two
count  41665.000000  51717.000000         51371.000000
mean       3.700449    283.697527           555.431566
std        0.440513    803.838853           438.850728
min        1.800000      0.000000            40.000000
25%        3.400000      7.000000           300.000000
50%        3.700000     41.000000           400.000000
75%        4.000000    198.000000           650.000000
max        4.900000  16832.000000          6000.000000

In [19]:
print(df_req["rate_clean"].value_counts().head())
print(df_req["online_order"].value_counts())
print(df_req["book_table"].value_counts())

rate_clean
3.9    3972
3.8    3873
3.7    3821
3.6    3316
4.0    3183
Name: count, dtype: int64
online_order
1    30444
0    21273
Name: count, dtype: int64
book_table
0    45268
1     6449
Name: count, dtype: int64

In [20]:
df_req.groupby("online_order")["rate_clean"].mean()

online_order
0    3.65907
1    3.72244
Name: rate_clean, dtype: float64

# Advanced Cleaning

In [21]:
print("Before duplicates:", df_req.shape)

df_req = df_req.drop_duplicates()

print("After duplicates:", df_req.shape)

Before duplicates: (51717, 14)
After duplicates: (51653, 14)

New version

In [22]:
# Ensure numeric
df_req["rate_clean"] = pd.to_numeric(df_req["rate_clean"], errors="coerce")

# Remove invalid ratings
df_req.loc[
    (df_req["rate_clean"] < 0) | (df_req["rate_clean"] > 5),
    "rate_clean"
] = np.nan


def fill_rating(group):
    if group.notna().sum() == 0:
        # Case 1: all NaN → set to 0
        return group.fillna(0)
    else:
        # Case 2: some values present → fill NaN with mean
        return group.fillna(group.mean())


df_req["rate_clean"] = (
    df_req.groupby("name")["rate_clean"]
    .transform(fill_rating)
)

In [23]:
df_req[
    df_req["rate_clean"].isna() .isna()
][["name", "rate_clean"]]

Empty DataFrame
Columns: [name, rate_clean]
Index: []

In [24]:
# Ensure numeric
df_req["approx_cost_for_two"] = pd.to_numeric(
    df_req["approx_cost_for_two"], errors="coerce"
)


def fill_cost(group):
    if group.notna().sum() == 0:
        # Case 1: all NaN → set to 0
        return group.fillna(0)
    else:
        # Case 2: some values present → fill NaN with mean
        return group.fillna(group.mean())


df_req["approx_cost_for_two"] = (
    df_req.groupby("name")["approx_cost_for_two"]
    .transform(fill_cost)
)

In [25]:
df_req[
     df_req["approx_cost_for_two"].isna()
][["name",  "approx_cost_for_two"]]

Empty DataFrame
Columns: [name, approx_cost_for_two]
Index: []

In [26]:
# # Convert to numeric first
# df_req["rate_clean"] = pd.to_numeric(df_req["rate_clean"], errors="coerce")

# # Fill missing ratings with restaurant-level average
# df_req["rate_clean"] = df_req.groupby("name")["rate_clean"].transform(
#     lambda x: x.fillna(x.mean())
# )

In [27]:
# df_req["approx_cost_for_two"] = (
#     df_req.groupby("name")["approx_cost_for_two"]
#     .transform(lambda x: x.fillna(x.median()) if x.notna().any() else x)
# )

In [28]:
# df_req["rate_clean"] = (
#     df_req["rate"]
#     .astype(str)
#     .str.split("/")
#     .str[0]
# )

# df_req["rate_clean"] = pd.to_numeric(df_req["rate_clean"], errors="coerce")

# # Remove invalid ratings
# df_req.loc[(df_req["rate_clean"] < 0) | (df_req["rate_clean"] > 5), "rate_clean"] = np.nan

In [29]:
def cost_bucket(cost):
    if pd.isna(cost):
        return np.nan
    elif cost <= 300:
        return "low"
    elif cost <= 700:
        return "medium"
    else:
        return "high"

df_req["cost_category"] = df_req["approx_cost_for_two"].apply(cost_bucket)

In [30]:
def clean_text(text):
    if pd.isna(text):
        return np.nan
    text = str(text).lower()
    text = re.sub(r"[^a-zA-Z0-9, ]", "", text)
    text = re.sub(r"\s+", " ", text).strip()
    return text

In [31]:
text_cols = [
    "rest_type",
    "listed_in_type",
    "listed_in_city",
    "cuisines"
]

for col in text_cols:
    df_req[col] = df_req[col].apply(clean_text)

In [32]:
df_req["has_dish_liked"] = df_req["dish_liked"].notna().astype(int)

In [33]:
def clean_reviews(text):
    if pd.isna(text):
        return np.nan

    text = str(text).lower()

    # 🔹 1. REMOVE escaped & real newlines FIRST
    text = text.replace("\\n", " ").replace("\n", " ")

    # 🔹 2. REMOVE rating tags like 'rated 4.5'
    text = re.sub(r"rated\s*\d+(\.\d+)?", " ", text)

    # 🔹 3. REMOVE the word 'rated' itself
    text = text.replace("rated", " ")

    # 🔹 4. REMOVE tuple / list symbols
    text = re.sub(r"[\[\]\(\)\'\",]", " ", text)

    # 🔹 5. REMOVE non-ASCII safely (without creating junk)
    text = re.sub(r"[^\x00-\x7F]+", " ", text)

    # 🔹 6. KEEP only alphabets and spaces
    text = re.sub(r"[^a-z ]", " ", text)

    # 🔹 7. REMOVE standalone letters like 'n', 'x'
    text = re.sub(r"\b[a-z]\b", " ", text)

    # 🔹 8. NORMALIZE spaces
    text = re.sub(r"\s+", " ", text).strip()

    # 🔹 9. DROP very short junk reviews
    if len(text) < 30:
        return np.nan

    return text

In [34]:
df_req["clean_reviews"] = df_req["reviews_list"].apply(clean_reviews)

In [35]:
df_req["review_length"] = df_req["clean_reviews"].str.len()
df_req.loc[df_req["review_length"] < 20, "clean_reviews"] = np.nan

In [36]:
df_req.drop(
    columns=[
        "menu_item",
        "dish_liked",
    ],
    inplace=True
)

In [37]:
# Columns that should remain NULL in SQL
null_cols = ["cuisines", "clean_reviews", "rest_type"]

# Convert NaN to None (SQL NULL)
df_req[null_cols] = df_req[null_cols].where(
    df_req[null_cols].notna(),
    None
)

In [38]:
df_req[
    df_req[["cuisines", "clean_reviews", "rest_type"]].isna().any(axis=1)
][["name", "cuisines", "clean_reviews", "rest_type"]]

,name,cuisines,clean_reviews,rest_type
75,Om Sri Vinayaka Chats,"street food, fast food",NaN,"takeaway, delivery"
91,Sunsadm,south indian,NaN,"takeaway, delivery"
92,Annapooraneshwari Mess,south indian,NaN,mess
95,Vi Ra's Bar and Restaurant,"south indian, north indian, chinese",NaN,bar
107,Coffee Shopee,beverages,NaN,"takeaway, delivery"
...,...,...,...,...
51643,New Ambur Biryani,"biryani, kebab",NaN,quick bites
51644,Punjabi Thadka,north indian,NaN,quick bites
51672,Slounge - Lemon Tree Hotel,finger food,NaN,lounge
51713,Vinod Bar And Restaurant,finger food,NaN,bar
51714,Plunge - Sheraton Grand Bengaluru Whitefield H...,finger food,NaN,bar

In [39]:
df_req.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'cuisines', 'rate_clean', 'cost_category',
       'has_dish_liked', 'clean_reviews', 'review_length'],
      dtype='str')

In [40]:
df_req[["reviews_list", "clean_reviews"]].sample(5)

,reviews_list,clean_reviews
6226,"[('Rated 4.0', 'RATED\n Went here for breakfa...",went here for breakfast good south indian spre...
12390,"[('Rated 5.0', 'RATED\n Ambience 5/5\nIt remi...",ambience it reminded of the school days felt n...
3207,"[('Rated 3.0', 'RATED\n Taste - 3.5/5\n\nGrea...",taste great desserts and snacks for quick bite...
17281,"[('Rated 5.0', 'RATED\n liked it'), ('Rated 3...",liked it ordered online ok food phulkas were f...
49669,"[('Rated 5.0', 'RATED\n Chaai Resto.. a very ...",chaai resto very good and convenient located p...

In [41]:
df_req[["clean_reviews"]].dropna().head()

                                       clean_reviews
0  beautiful place to dine in the interiors take ...
1  had been here for dinner with family turned ou...
2  ambience is not that good enough and it not po...
3  great food and proper karnataka style full mea...
4  very good restaurant in neighbourhood buffet s...

In [42]:
final_df = df_req[
    [
        "name",
        "online_order",
        "book_table",
        "votes",
        "rate_clean",
        "approx_cost_for_two",
        "cost_category",
        "rest_type",
        "listed_in_type",
        "listed_in_city",
        "cuisines",
        "has_dish_liked",
        "clean_reviews"
    ]
]

In [43]:
final_df.to_csv(
    "zomato_before_sentiment_analysis.csv",
    index=False,
    encoding="utf-8"
)

# Sentiment Analysis

In [44]:
!pip3 install nltk
!pip3 install textblob

Requirement already satisfied: nltk in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (3.9.2)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (8.3.1)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (2026.1.15)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk) (4.67.1)

[notice] A new release of pip is available: 24.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Requirement already satisfied: textblob in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (0.19.0)
Requirement already satisfied: nltk>=3.9 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from textblob) (3.9.2)
Requirement already satisfied: click in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk>=3.9->textblob) (8.3.1)
Requirement already satisfied: joblib in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk>=3.9->textblob) (1.5.3)
Requirement already satisfied: regex>=2021.8.3 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk>=3.9->textblob) (2026.1.15)
Requirement already satisfied: tqdm in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from nltk>=3.9->textblob) (4.67.1)

[notice] A new release of pip is available: 24.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip

In [45]:
import nltk
from textblob import TextBlob

In [46]:
# 1️⃣ Sentiment score function (TextBlob)
def get_sentiment_score(text):
    if pd.isna(text) or str(text).strip() == "":
        return np.nan
    return TextBlob(str(text)).sentiment.polarity

In [47]:
# 2️⃣ Limit review length (performance optimization)
df_req["clean_reviews"] = (
    df_req["clean_reviews"]
    .astype(str)
    .str.slice(0, 500)
)

In [48]:

# 3️⃣ Apply sentiment scoring
df_req["sentiment_score"] = df_req["clean_reviews"].apply(get_sentiment_score)

In [49]:
# 4️⃣ Aggregate to restaurant level
sentiment_agg = (
    df_req.groupby("name", as_index=False)
    .agg(
        sentiment_score=("sentiment_score", "mean")
    )
)

In [50]:
# 5️⃣ Handle restaurants with no reviews
sentiment_agg["sentiment_score"] = sentiment_agg["sentiment_score"].fillna(0)

In [51]:
def restaurant_sentiment(score):
    if score >= 0.05:
        return "positive"
    elif score <= -0.05:
        return "negative"
    else:
        return "neutral"

sentiment_agg["sentiment"] = sentiment_agg["sentiment_score"].apply(restaurant_sentiment)

In [52]:


sentiment_agg.head()

                     name  sentiment_score sentiment
0            #FeelTheROLL         0.242969  positive
1              #L-81 Cafe         0.327083  positive
2           #Vibes Restro         0.550000  positive
3                 #refuel         0.356481  positive
4  'Brahmins' Thatte Idli         0.000000   neutral

In [53]:
# df_req["sentiment_score"] = df_req["sentiment_score"].fillna(0)

In [54]:
# def get_sentiment_label(score):
#     if pd.isna(score):
#         return np.nan
#     elif score >= 0.05:
#         return "positive"
#     elif score <= -0.05:
#         return "negative"
#     else:
#         return "neutral"

In [55]:
# df["sentiment_label"] = df["sentiment_score"].apply(get_sentiment_label)

In [56]:
# df_req[["clean_reviews", "sentiment_score", "sentiment"]].sample(5)

In [57]:
# df_req.head(5)

In [58]:
df_final = df_req.merge(
    sentiment_agg,
    on="name",
    how="left"
)

In [59]:
df_final.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'cuisines', 'rate_clean', 'cost_category',
       'has_dish_liked', 'clean_reviews', 'review_length', 'sentiment_score_x',
       'sentiment_score_y', 'sentiment'],
      dtype='str')

In [60]:
df_final.drop(
    columns=["sentiment_score_x"],
    inplace=True,
    errors="ignore"
)

In [61]:
df_final.rename(
    columns={
        "sentiment_score_y": "sentiment_score",
        "sentiment_y": "sentiment"
    },
    inplace=True
)

In [62]:
df_final.columns

Index(['name', 'online_order', 'book_table', 'votes', 'rate',
       'approx_cost_for_two', 'listed_in_type', 'rest_type', 'listed_in_city',
       'reviews_list', 'cuisines', 'rate_clean', 'cost_category',
       'has_dish_liked', 'clean_reviews', 'review_length', 'sentiment_score',
       'sentiment'],
      dtype='str')

In [63]:
df_sql = df_final[
    [
        "name",
        "rate_clean",
        "sentiment_score",
        "sentiment",
        "votes",
        "approx_cost_for_two",
        "online_order",
        "book_table",
        "rest_type",
        "listed_in_type",
        "listed_in_city",
        "cuisines",
        "cost_category",
        "clean_reviews",
    ]
]

In [64]:
df_sql.iloc[50593]

name                                                            Halftime
rate_clean                                                           0.0
sentiment_score                                                     -0.0
sentiment                                                        neutral
votes                                                                  0
approx_cost_for_two                                                200.0
online_order                                                           0
book_table                                                             0
rest_type                                                    quick bites
listed_in_type                                                  delivery
listed_in_city                                                whitefield
cuisines                                           north indian, chinese
cost_category                                                        low
clean_reviews          it has been closed now it was good option in b...
Name: 50593, dtype: object

In [65]:
df_sql = df_sql.replace({np.nan: None})

In [66]:
df_sql.to_csv(
    "zomato_with_sentiment_utf8.csv",
    index=False,
    encoding="utf-8",
    errors="replace"
)

In [67]:
df_final.isna().sum()

name                      0
online_order              0
book_table                0
votes                     0
rate                   7828
approx_cost_for_two       0
listed_in_type            0
rest_type               227
listed_in_city            0
reviews_list              0
cuisines                 45
rate_clean                0
cost_category             0
has_dish_liked            0
clean_reviews          7705
review_length          7705
sentiment_score           0
sentiment                 0
dtype: int64

# connect to SQL

In [68]:
pip install mysql-connector-python sqlalchemy

Requirement already satisfied: mysql-connector-python in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (2.0.46)
Requirement already satisfied: typing-extensions>=4.6.0 in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)

[notice] A new release of pip is available: 24.1.1 -> 25.3
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [70]:
from sqlalchemy import create_engine

engine = create_engine(
    "mysql+mysqlconnector://root:Bhavitha08@localhost:3306/zomato_db",
    echo=False
)

df_sql.to_sql(
    name="zomato_restaurants",
    con=engine,
    if_exists="append",
    index=False,
    chunksize=1000
)

51653